@charset "UTF-8";

/* import your mixins file if separated */
@use "./mixin"as *;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;

  @include fontSizeRem(16);
  @include lineHeight(16, 26);
}

form{
  margin: min(getVw(10, 1200), 10px) auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* layout container */
.container {
  max-width: 900px;
  margin: min(getVw(20, 1200), 20px) auto;
  padding: min(getVw(20, 1200), 20px);
}

/* book list */
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(getVw(20, 1200), 20px);

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(small) {
    grid-template-columns: 1fr;
  }
}

/* book card */
li {
  background: white;
  border-radius: min(getVw(8, 1200), 8px);
  padding: min(getVw(20, 1200), 20px);
  box-shadow: 0 min(getVw(4, 1200), 4px) min(getVw(10, 1200), 10px) rgba(0, 0, 0, 0.05);
  transition: transform .2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min(getVw(150, 1200), 150px);

  &:hover {
    transform: translateY(-1px);
  }

  strong {
    display: block;
    margin-bottom: 6px;

    @include fontSizeRem(18);
  }

  a {
    display: inline-block;
    margin-top: min(getVw(10, 1200), 10px);
    text-decoration: none;
    color: white;
    background: #0073e6;
    padding: min(getVw(8, 1200), 8px) min(getVw(14, 1200), 14px);
    border-radius: min(getVw(4, 1200), 4px);
    text-align: center;

    @include fontSizeRem(14);

    &:hover {
      background: #005dc0;
    }
  }
}